$headerIconsSize: 25px;
$textColor: #242424;
$textSecondaryColor: #FB9F19;
$headerPadding: 0px;
$bgColor: #414141;
$headerIconMargin: 5%;
$csgoBanner: url("../Resources/csgo.png");
$lolBanner: url("../Resources/lol.png");
$r6sBanner: url("../Resources/r6.png");
$bannerMargin: 15px;
$csgoShadow: #7900FA;
$lolShadow: #FB9F19;
$r6sShadow: #00C73E;
$buttonShadow:#00C73E;
$homeBannerFontSize: 30px;
$loginPadding: 15px;
$alertColor:#EC2C24;