@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html * {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

.headerIcon {
  height: 25px;
  width: 25px;
  margin: 5%, 5%, 5%, 5%; }

#headerC {
  display: -webkit-flex;
  /* Safari */
  -webkit-justify-content: space-between;
  /* Safari 6.1+ */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  text-decoration: none; }

#headerC .inline {
  padding-right: 0px; }

#headerC .logo {
  text-decoration: none;
  color: #242424;
  padding-left: 0px; }

.bodyClass {
  background-color: #C9C9C9; }
